body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://www.click4vector.com/public/uploads/preview/jute-texture-photo-stock-background-hd-wallpaper-11671102561t7i5hekxm7.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}
h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

.symptom {
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-radius: 20px; /* Rounded corners */
    background-color: rgba(9, 10, 10, 0.75); /* Green button with transparency */
    color: #fff; /* White text */
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    cursor: pointer; /* Add cursor pointer */
}

.symptom:hover,
.symptom:focus,
.symptom:active {
    background-color: #45a049; /* Change background color on hover, focus, and active state */
}
.symptom.selected {
    background-color: #4CAF50; /* Green background for selected symptom */
    color: #fff; /* White text */
  }

@keyframes fadeIn {
    to { opacity: 1; }
}

.symptom:nth-child(1) { animation-delay: 0.2s; }
.symptom:nth-child(2) { animation-delay: 0.4s; }
.symptom:nth-child(3) { animation-delay: 0.6s; }
.symptom:nth-child(4) { animation-delay: 0.8s; }
.symptom:nth-child(5) { animation-delay: 1s; }
.symptom:nth-child(6) { animation-delay: 1.2s; }

.next-button {
    display: block;
    width: 10%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(9, 10, 10, 0.75); /* Green button with transparency */
    color: #fff; /* White text */
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    text-decoration: none;
    animation: fadeInButton 0.5s forwards;
    text-align: center;
}

@keyframes fadeInButton {
    to { opacity: 1; }
}

button:hover {
    background-color: #45a049;
}
